.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.homepage-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homepage-padding{
  padding: 20px 40px;
}

.nav-leftside{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 350px;
  font-size: 1.5rem;
}

.nav-leftside > *{
  cursor: pointer;
}

.nav-rightside-logout-button{
  padding: 10px 30px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
}

.homepage-main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.single-blog{
  padding: 20px;
  max-width: 400px;
  max-height: 400px;
  margin: 10px;
  box-shadow: 1px 1px 5px black;
  border-radius: 5px;
  overflow: scroll;
}

.single-blog-edit-post{
  color: blue;
  font-weight: bolder;
  width: max-content;
  cursor: pointer;
  padding: 5px 15px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.466);
  border-radius: 5px;
}